[submodule "libs/corex-utils"]
	path = libs/corex-utils
	url = git@github.com:tresmarck/corex-utils.git
[submodule "libs/corex-math"]
	path = libs/corex-math
	url = git@github.com:tresmarck/corex-math.git
[submodule "libs/pybind11"]
	path = libs/pybind11
	url = https://github.com/pybind/pybind11.git
